<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="home"> <i class="bi bi-person-plus"></i> Udvar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-box-arrow-in-right"></i> Regi/Be/Kilép/Törlés
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="register">Regisztráció</a></li>
            <li><a class="dropdown-item" href="login">Bejelentkezés</a></li>
            <li><a class="dropdown-item" href="#">Kijelentkezés</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Törlés</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="driving-licence"> <i class="bi bi-car-front"></i> Jogosítvány ?</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-dice-5"></i> Játékok
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="game1">Szám Tipp 1-100</a></li>
            <li><a class="dropdown-item" href="dice-tipp2">Dobókocka Tipp</a></li>
            <li><a class="dropdown-item" href="big-throw">Nagyobbat Dobni</a></li>
            <li><a class="dropdown-item" href="memory-game">Memória Játék</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-camera-video"></i> Videó/Média
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="music"><i class="bi bi-music-note-beamed"></i> Zene</a></li>
            <li><a class="dropdown-item" href="american-music"><i class="bi bi-music-note-beamed"></i> Amerikai zene</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="armory-video"><i class="bi bi-shield-shaded"></i> Herály Tibor Címere</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-box"></i> Egyebek
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> Írások</a></li>
            <li><a class="dropdown-item" href="images"><i class="bi bi-image"></i> Képek</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="donation"><i class="bi bi-heart"></i> Adomány</a>
                <a class="dropdown-item" href="page"><i class="bi bi-star-fill"></i> Értékelés</a>
                <a class="dropdown-item" href="contact"><i class="bi-envelope"></i> Kapcsolat</a>
            </li>
          </ul>
        </li>
      </ul>

      <form class="d-flex"
            role="search"
            (ngSubmit)="siteSearch()">

        <input class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               [(ngModel)]="searchQuery"
               name="search">

        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </form>

    </div>
  </div>
</nav>


