<div class="gallery">
  <div class="card" *ngFor="let v of videos">
    <div class="player">
      <!-- ha nem játszik: thumbnail + play overlay -->
      <ng-container *ngIf="!v.playing; else iframeTpl">
        <div class="thumb" (click)="playSingle(v)" role="button" tabindex="0" (keydown.enter)="playSingle(v)">
          <img [src]="'https://i.ytimg.com/vi/' + v.id + '/hqdefault.jpg'" alt="{{v.title}} thumbnail">
          <div class="overlay">
            <div class="playbtn">▶</div>
          </div>
        </div>
      </ng-container>

      <!-- ha játszik: iframe -->
      <ng-template #iframeTpl>
        <div class="iframe-wrapper">
          <iframe
            [src]="getEmbedUrl(v)"
            frameborder="0"
            allow="autoplay; encrypted-media; picture-in-picture"
            allowfullscreen
            title="{{v.title}}">
          </iframe>
          <button class="stop" (click)="v.playing = false" aria-label="Stop video">✕</button>
        </div>
      </ng-template>
    </div>

    <div class="meta">
      <h3 class="title">{{ v.title }}</h3>
      <p class="desc">{{ v.description }}</p>
    </div>
  </div>
</div>
