<h1>Képek</h1>
<h3>Lotty kutyi képek</h3>

<img src="assets/images/lotty_kutya.png" alt="Kép leírása" width="300">
<img src="assets/images/lotty002.png" alt="Kép leírása" width="300">
<img src="assets/images/lotty003.png" alt="Kép leírása" width="300">
<img src="assets/images/lotty_fej.png" alt="Kép leírása" width="300">
<h3>Macska fejűek</h3>
<img src="assets/images/cat_face1.png" alt="Kép leírása" width="300">
<img src="assets/images/cat_face2.png" alt="Kép leírása" width="300">
<img src="assets/images/cat_face3.png" alt="Kép leírása" width="300">
<img src="assets/images/malna_cat.png" alt="Kép leírása" width="300">

<hr>
