<div class="container mt-4">
  <h3> Tippelj számot 1 - 6 között, 15 kör lesz. </h3>
  <p>A mellette lévő találat 1 pontot ér !<br>Felváltva tippelsz a Géppel.</p>

  <div #chatDiv class="chat-box border p-3 mb-3 bg-dark-subtle" style="height: 400px; overflow-y: scroll;">
    <div *ngFor="let u of uzenetek">
      <span [ngClass]="u.szin">{{ u.szoveg }}</span>
    </div>
  </div>

  <div *ngIf="!vege" class="mb-3">
    <input type="number" [(ngModel)]="tipp1" placeholder="Tipp 1-6" class="form-control mb-2">
    <button class="btn btn-primary" (click)="tippelj()">Dobás</button>
  </div>


  <div *ngIf="vege">
    <button class="btn btn-success" (click)="ujJatek(gepEllen)">Új játék</button>
  </div>
</div>
