<div class="container mt-3">
  <h1> Üdvözöllek az oldalamon !</h1>
  <p>Lelj meg a faceBook -on ! <br>
    ( Kattints a képre ! )</p>
  <div>
    <a href="http://www.facebook.com/tibor.herbaly/" target="_blank">
      <img src="/assets/images/facebook_logo.png"
           alt="Herbaly T. Facebook"
           style="width:200px;height:100px;">
    </a>
    <hr>
  </div>
  <h4>
    <a routerLink="/contact">írj e-mail -t nekem ! (Fejlesztés alatt áll !) <br>
      <img src="/assets/images/e-mail_bild.png"
           alt="Herbaly Tibornak e-mail"
           style="width:200px;height:100px;"></a>
  </h4>
  <hr>

  <p>Ha tetszett az oldal értékeld ! (Jelenleg nem működik !)</p>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4"> <!-- Bal oldali oszlop -->
        <app-page-rating></app-page-rating>
      </div>
    </div>
  </div>
  <hr>
</div>
